.post img{
    position: absolute;
    height: 3rem;
    width: 3rem;
    transform: rotate(340deg);
    height: 6rem;
    left: -2rem;
    bottom: 0;
    opacity: 0.4;
}

.post.card{
    overflow: hidden;
}

.about-content{
    padding: 2rem;
    border-radius: 0 0 20px 20px
}